.dot {
	margin: 4px;
	border-radius: 25px;
	border: 1px solid var(--text-accent);
	transition:
		background-color 300ms ease,
		width 300ms ease,
		height 100ms ease;
}

.active {
	background-color: var(--text-accent);
}

.inactive {
	background-color: var(--bg-white);
}

.clickable {
	cursor: pointer;
}
