.badge {
	scale: 1;
	transition: scale 100ms ease;
}

.link:hover .badge {
	scale: 1.1;
}

.info {
	color: #449cd9;
}

.info:hover {
	color: #1f6b91;
	transition: color 100ms ease;
	cursor: pointer;
}

.info:hover + .popper {
	visibility: visible;
	opacity: 1;
}

.list-button-inner {
	color: 'inherit';
}

.list-item-outer:hover .list-button-inner {
	color: #449cd9;
	transition: color 100ms ease;
}

.node:hover {
	background-color: #e8e9ed;
	transition: background-color 100ms ease;
	cursor: pointer;
}

.node:hover .node-report-icon {
	visibility: visible;
	opacity: 1;
	transition: opacity 300ms ease;
}

.node-report-icon {
	visibility: hidden;
	opacity: 0;
}

.node-selected {
	background-color: #dfe2e7;
	cursor: pointer;
}

.node-q:hover {
	color: #449cd9;
}

.popper {
	visibility: hidden;
	opacity: 0;
}

.status-icon path[fill='black'] {
	fill: currentColor !important;
}

.text-hover:hover {
	outline: 2px solid #344979;
	transition: outline 100ms ease;
}
